@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Crimson+Text);


h1 {
  font-family: 'Pacifico';
  font-weight: 500;
  font-size: 10vw;
  text-align: center;
}
/* cover */
.bg-image {
  background-image: url(../ezgif.com-optimize.gif);
  overflow-x:hidden;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #464646;
  height: 100vh;
  /*width: 100vw;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: auto;
  top: 0;
  left: 0;
}

.hero-text {
  position: absolute;
  top: 50vh;
  left: 80vw;
  transform: translate(-50%, -50%);
  color: #673ab7;
  text-align: center;
  /*font-family: 'Playfair Display';*/
  font-weight: bold;
  /*overflow: hidden;*/
  float: right;
}
.save-the-date {
  text-transform: capitalize;
  font-family: 'Pacifico';
  font-weight: 500;
  font-size: 7em;
  margin:0;
  white-space: nowrap;
  padding-top: 0.5em;
  padding-bottom: 0.5em;

  line-height: 1em;


  -ms-transform: rotate(-10deg); /* IE 9 */
    -webkit-transform: rotate(-10deg); /* Chrome, Safari, Opera */
    transform: rotate(-10deg);
    float: right;
}
.details {

  margin-left: 0;
  font-size: 2.5em;
  font-family: 'Quicksand';

  color: white;
  text-transform: uppercase;
  font-weight: 700;

  font-weight: 500;
  float: right;
}
menu {
  position: absolute;
}


.ampersand {
  color: #E91E63;
  text-shadow: 2px 2px 2px white;
}
.bull {
  color: #E91E63;

}
.story {
  width: 50vw;
  margin-left: auto;
  margin-right: auto;
}
.story-content {
  font-family: 'Crimson Text';
  font-size: 2.5vw;
  text-align: justify;
}
/* ----------- iPad 3 and 4 ----------- */
/* Portrait and Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .story-content {
      font-size: 2.5vw;
    }

}
@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) {
    .hero-text {
      left: 80vw;
    }
}
@media (max-width:1580px) {
  .hero-text {
    font-size: 0.8em;
    left: 78%;
    /*color: white;*/
  }
  .save-the-date {
    padding: 0px;
    /*padding-right: 0.5em;*/
  }
  .story {
    width: 60vw;
  }

}

@media (max-width: 680px) {
  .bg-image {
    background-image: url(../ezgif.com-optimize-portrait.gif);
  }
   .save-the-date{
     font-size: 3.5em;
     padding: 0px;
     padding-right: 0.5em;
   }
   .details {
     font-size: 1.5em;
     padding-left: 0;
   }
   .hero-text {
     /*padding: 0px;*/
     left: 70%;
     top: 30%;
   }
   .story {
     width: 90vw;
   }
 }
 @media (max-width:480px) {
   .bg-image {
     background-image: url(../ezgif.com-optimize-portrait.gif);
   }
   .save-the-date {
     top: 30vh;
     padding: 0px;
     font-size: 3em;
     padding: 0px;
   }
   .details {
     font-size: 1em;
     padding: 0px;
   }
   .hero-text {
     left: 50%;
     top: 15%;
   }
 }
 @media (max-width: 360px) {
   .bg-image {
     background-image: url(../ezgif.com-optimize-portrait.gif);
   }
   .hero-text {
     top: 20%;
   }
 }
 @media (max-width: 320px) {
   .bg-image {
     background-image: url(../ezgif.com-optimize-portrait.gif);
   }
   .hero-text{
     top: 25%;
   }
 }
p {
}
